<html>
<head>
	<meta charset="UTF-8">
	<title>Hackjack</title>

	<script src="//use.typekit.net/ibh0kdt.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="static/base.css">
</head>
<body class="b-midnight-blue">
	<div class="container">
		<img id="image-lg" src="/static/images/logo.svg" alt="Spade">
		<h1><span class="t-clouds">HACK</span><span class="t-alizarin">JACK</span></h1>
		<p class="t-clouds">ENTER API KEY</p>
		<div class="input-btn">
			<input type="text">
			<button><i class="fa fa-sign-in"></i></button>
		</div>
	</div>
</body>
</html>